<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <script src="jquery/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/timerForm.js"></script>

    <header>
      <h1>When Will It!?</h1>
    </header>

    <main class="col-4 col-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
      {% block content %}{% endblock %}
    </main>

    <!-- <footer>
      project by: wasif zaman
      github:
    </footer> -->

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
