<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  </head>
  <body>
    <script src="jquery/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/timerForm.js"></script>

    <header>
      <h1>When Will It!?</h1>
    </header>

    <main class="col-4 col-offset-4">
      {% block content %}{% endblock %}
    </main>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
