@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto|Zilla+Slab|Zilla+Slab+Highlight");
html {
  font-size: 16px; }

body {
  font-size: 100%; }

* {
  box-sizing: border-box; }

label, input, select {
  display: block;
  margin-bottom: 0.6em;
  font-size: 1em;
  padding: 0.7em;
  border-radius: 2px; }

label {
  font-weight: bold; }

select {
  background-color: #fff;
  border: solid 1px #37474f;
  border-radius: 2px;
  background-image: linear-gradient(135deg, #37474f 50%, transparent 50%), linear-gradient(45deg, transparent 50%, #37474f 50%), linear-gradient(to right, #f06292, #f06292);
  background-position: calc(100% - 0.8em) 1em, calc(100% - 1.5em) 1em, 100% 0%;
  background-size: 0.7em 0.8em, 0.7em 0.7em, 3em 3em;
  background-repeat: no-repeat; }

select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.triangle {
  display: block;
  width: 10px;
  height: 10px;
  border-left: transparent;
  border-right: transparent;
  border-top: #102027;
  border-bottom: transparent;
  border-width: 10px;
  border-style: solid; }

input {
  border: solid 1px #37474f; }

input[type="checkbox"] {
  margin: 0;
  padding: 0;
  border: solid 1px #37474f;
  width: 2em;
  height: 2em; }

input[type="checkbox"]:after {
  background-color: #37474f;
  display: flex;
  flex-direction: column;
  color: #fff;
  content: "✓";
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  visibility: hidden; }

input[type="checkbox"]:checked:after {
  visibility: visible; }

hr {
  color: #f06292;
  background-color: #f06292;
  border-color: #f06292;
  border-width: 1px; }

.btn {
  padding: 0.7em;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  border-radius: 2px; }
  .btn-primary {
    background-color: #37474f; }

.row:after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 1200px) {
  .col-1 {
    float: left;
    width: 8.33333%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-1 {
    float: left;
    margin-left: 8.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-1 {
    float: left;
    width: 8.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-1 {
    float: left;
    margin-left: 8.33333%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-1 {
    float: left;
    width: 8.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-1 {
    float: left;
    margin-left: 8.33333%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-2 {
    float: left;
    width: 16.66667%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-2 {
    float: left;
    margin-left: 16.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-2 {
    float: left;
    width: 16.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-2 {
    float: left;
    margin-left: 16.66667%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-2 {
    float: left;
    width: 16.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-2 {
    float: left;
    margin-left: 16.66667%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-3 {
    float: left;
    width: 25%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-3 {
    float: left;
    margin-left: 25%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-3 {
    float: left;
    width: 25%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-3 {
    float: left;
    margin-left: 25%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-3 {
    float: left;
    width: 25%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-3 {
    float: left;
    margin-left: 25%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-4 {
    float: left;
    width: 33.33333%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-4 {
    float: left;
    margin-left: 33.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-4 {
    float: left;
    width: 33.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-4 {
    float: left;
    margin-left: 33.33333%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-4 {
    float: left;
    width: 33.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-4 {
    float: left;
    margin-left: 33.33333%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-5 {
    float: left;
    width: 41.66667%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-5 {
    float: left;
    margin-left: 41.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-5 {
    float: left;
    width: 41.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-5 {
    float: left;
    margin-left: 41.66667%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-5 {
    float: left;
    width: 41.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-5 {
    float: left;
    margin-left: 41.66667%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-6 {
    float: left;
    width: 50%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-6 {
    float: left;
    margin-left: 50%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-6 {
    float: left;
    width: 50%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-6 {
    float: left;
    margin-left: 50%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-6 {
    float: left;
    width: 50%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-6 {
    float: left;
    margin-left: 50%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-7 {
    float: left;
    width: 58.33333%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-7 {
    float: left;
    margin-left: 58.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-7 {
    float: left;
    width: 58.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-7 {
    float: left;
    margin-left: 58.33333%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-7 {
    float: left;
    width: 58.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-7 {
    float: left;
    margin-left: 58.33333%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-8 {
    float: left;
    width: 66.66667%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-8 {
    float: left;
    margin-left: 66.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-8 {
    float: left;
    width: 66.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-8 {
    float: left;
    margin-left: 66.66667%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-8 {
    float: left;
    width: 66.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-8 {
    float: left;
    margin-left: 66.66667%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-9 {
    float: left;
    width: 75%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-9 {
    float: left;
    margin-left: 75%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-9 {
    float: left;
    width: 75%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-9 {
    float: left;
    margin-left: 75%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-9 {
    float: left;
    width: 75%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-9 {
    float: left;
    margin-left: 75%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-10 {
    float: left;
    width: 83.33333%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-10 {
    float: left;
    margin-left: 83.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-10 {
    float: left;
    width: 83.33333%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-10 {
    float: left;
    margin-left: 83.33333%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-10 {
    float: left;
    width: 83.33333%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-10 {
    float: left;
    margin-left: 83.33333%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-11 {
    float: left;
    width: 91.66667%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-11 {
    float: left;
    margin-left: 91.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-11 {
    float: left;
    width: 91.66667%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-11 {
    float: left;
    margin-left: 91.66667%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-11 {
    float: left;
    width: 91.66667%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-11 {
    float: left;
    margin-left: 91.66667%;
    padding: 0 20px;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .col-12 {
    float: left;
    width: 100%;
    padding: 0 20px; } }

@media (min-width: 1200px) {
  .col-offset-12 {
    float: left;
    margin-left: 100%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-12 {
    float: left;
    width: 100%;
    padding: 0 20px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-offset-12 {
    float: left;
    margin-left: 100%;
    padding: 0 20px; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-12 {
    float: left;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 1.3em;
    padding-left: 0; } }

@media (min-width: 0px) and (max-width: 992px) {
  .col-sm-offset-12 {
    float: left;
    margin-left: 100%;
    padding: 0 20px;
    padding-left: 0; } }

[class*='col-']:last-of-type {
  padding-right: 0; }

/*
  Reference
  font-family: 'Zilla Slab', cursive;
  font-family: 'Zilla Slab Highlight', cursive;
  font-family: 'Roboto', sans-serif;
*/
* {
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4 {
  font-family: 'Zilla Slab', cursive; }

h1 {
  font-size: 3em; }

h3 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

header, main h3, main h4 {
  text-align: center; }

header {
  margin-top: 5%; }

select {
  width: 100%; }

input[type=text] {
  width: 100%;
  text-align: center; }

body {
  position: relative;
  min-height: 85vh; }

footer {
  position: relative;
  bottom: 0;
  width: 50%;
  left: 25%;
  margin-top: 10%;
  text-align: center;
  margin-bottom: 1em;
  font-family: 'Zilla Slab Highlight', cursive; }
  footer hr {
    margin-bottom: 1em; }

.time [class*="col-"] {
  padding-left: 0; }

.options {
  text-align: center; }
  .options div {
    display: inline-block; }
  .options input[type=checkbox] {
    display: inline-block;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px; }

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px; }
  .submit input {
    background-color: #f06292; }

#timer {
  text-align: center; }

.sections {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 2em; }

.sections * {
  font-family: 'Zilla Slab Highlight', cursive; }
